{% extends 'rapidrecipes/base.html' %}

{% block content_block %}
<div class="container-fluid">
    <h2>Register</h2>
    <form class="form-signin" role="form" method="post" action="."
    oninput='id_password2.setCustomValidity(id_password.value != id_password2.value ? "Passwords do not match." : "")'>
        {% csrf_token %}
        <!--{{ user_form.as_p }}-->

        <p>END OF DJANGO</p>

        <p>Username*:</p>
        <input type="text" name="username" required_id="id_username" maxlength="150" class="form-control w-25" required autofocus>
        <p>E-mail*:</p>
        <input type="email" name="email" id="id_email" maxlength="254" class="form-control w-25" required>
        <p>Password*:</p>
        <input type="password" name="password" required_id="id_password" class="form-control w-25" required>
        <span id="passwordHelpInline" class="form-text">
            Must be minimum 6 characters.
        </span>
        <p></p>
        <!--<p>Retype password:</p>
        <input type="password" name="password2" id="id_password2" class="form-control w-25" required>
        -->
        <p></p>
    
        <button class="btn btn-lg btn-primary btn-block w-25" type="submit" value="Submit">Register</button>
    </form>

</div>
{% endblock %}