{% extends 'rapidrecipes/base.html' %}
{% block content_block %}

<div class="container-fluid my-5">
    <h2>Add A Recipe</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <div class="mb-3">
                <label for="recipename" class="form-label">Recipe Name</label>
                <input type="text" class="form-control" id="recipename" name="recipename" placeholder="Untitled"
                    required>
            </div>
            <div class="container border border-dark rounded mb-3" id="recipeImageContainer" style="display: none;">
                <img id="recipeimageoutput" class="rounded mx-auto d-block" style="max-width: 100%;" />
            </div>
            <div class="custom-file mb-3">
                <label for="recipeimage" class="custom-file-label">Add Recipe Image</label>
                <input type="file" class="custom-file-input" name="recipeimage" oninput="addRecipeImage(event)" accept="image/*" required>
            </div>
            <div class="mb-3">
                <label for="time" class="form-label">Preperation Time (in minutes)</label>
                <input type="number" class="form-control" id="time" name="time"  min="0" value="0">
            </div>
            <div class="mb-3">
                <label for="rating" class="form-label">Rating (between 0 to 5)</label>
                <input type="number" class="form-control" id="rating" name="rating" min="0" max="5" step="0.1"
                    value="0">
            </div>
            <div class="mb-3">
                <label for="difficulty" class="form-label">Difficulty (between 0 to 5)</label>
                <input type="number" class="form-control" id="difficulty" name="difficulty" min="0" max="5" step="0.1"
                    value="0">
            </div>
            <div class="row row-cols-4 mb-3 mx-1">
                {% for category in categories %}
                <div class="form-check col-md-3 my-1">
                    <input class="form-check-input" type="checkbox" value="{{ category }}" id="{{ category }}"
                        name="categories">
                    <label class="form-check-label" for="{{ category }}">
                        {{ category }}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        <div>
            <h3>Add Ingredients to Your Recipe</h3>
            <div id="ingredientforms">
                <div class="ingredientform" id = "ingredientform">
                    <div class="form-row mb-3">
                        <div class="col">
                            <label for="ingredient" class="form-label">Choose Ingredient</label>
                            <select class="form-control select2" name="ingredient" id="ingredient" onchange="getRawFoodMeasurementTypes(event)" required>
                                <option disabled selected value>Select An Ingredient</option>
                                {% for rawFood in rawFoods.all %}
                                <option value="{{ rawFood }}">{{ rawFood }}</option>
                                {% endfor%}
                            </select>
                        </div>
                        <div class="col">
                            <label for="ingredientamount" class="form-label">Ingredient Amount</label>
                            <input type="number" class="form-control" name="ingredientamount" id="ingredientamount" value="0" min="0">
                        </div>
                        <div class="col">
                            <label for="ingredientmeasurement" class="form-label">Measurement</label>
                            <select class="form-control select2" name="ingredientmeasurement" id="ingredientmeasurement" required>
                                <option disabled selected value>Select A Measurement</option>
                            </select>
                        </div>
                        <div class="col-auto align-self-end">
                            <button class="btn btn-danger" type="button" onclick="deleteIngredient()">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-success btn-block mb-3" onclick="addIngredient()" type="button">
                Add Another Ingredient
            </button>
        </div>
        <div>
            <h3>Add Instructions to Your Recipe</h3>
            <div id="instructionforms">
                <div id="instructionform">
                    <div class="mb-3">
                        <textarea class="form-control" rows="10" placeholder="Add Description Here"
                            name="instruction" id="instruction"></textarea>
                    </div>
                    <div class="form-row mb-3 mx-0">
                        <div class="col custom-file">
                            <label for="instructionimage" class="custom-file-label" id="instructionimagelabel">Add Instruction Image</label>
                            <input type="file" class="custom-file-input" name="instructionimage" id="instructionimage" accept="image/*"
                                onchange="instructionImageAdded(event)">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-danger" type="button" onclick="deleteInstruction()">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-success btn-block mb-3" onclick="addInstruction()" type="button">
                Add Another Instruction
            </button>
        </div>
        <button class="btn btn-primary mb-5" type="submit" onsubmit="alert('You have successfully added a new recipe.')">Submit</button>
    </form>
</div>
<script>

    function getRawFoodMeasurementTypes(caller) {
            var ingredientInstance = caller.target.parentNode.parentNode.parentNode;
            //console.log('text: '+$(this).find(":selected").not(':disabled').text());
            var $ingredient = $(ingredientInstance).find('#ingredient');
            var $measurement = $(ingredientInstance).find('#ingredientmeasurement');
            //console.log($measurement.text()); // Print out html
            $.ajax({
                type: 'GET',
                url: "{% url 'food:getRawFoodMeasurementTypes' %}",
                data: {"raw-food": $ingredient.find(":selected").not(':disabled').text()},
                success: function (response){

                    $measurement.find('option').not(':disabled').remove();
                    $.each(response, function(key,value){
                        $measurement.append(`<option value="${value}">${value}</option>`);
                    });
                    $measurement.show();
                },
                error: function (response){
                    console.log(response);
                }
            });
    };

    $(document).ready(function() {
        $('.select2').select2({
            theme: 'bootstrap-5',
        });
    });

    var addRecipeImage = function (event) {
        var imageContainer = document.getElementById('recipeImageContainer');
        imageContainer.style.display = 'block';
        var image = document.getElementById('recipeimageoutput');
        image.src = URL.createObjectURL(event.target.files[0]);
    };


    var addIngredient = function () {
        var ingredientform = document.getElementById('ingredientform');
        var clone = ingredientform.cloneNode(true);
    
        document.getElementById('ingredientforms').appendChild(clone);
        $(clone).find('#ingredient').val("");
        $(clone).find('#ingredientamount').val(0);
        $(clone).find('#ingredientmeasurement').find('option').not(":disabled").remove();
    };

    var deleteIngredient = function () {
        var ingredientforms = document.getElementById('ingredientforms');
        var ingredientformtodelete = event.target.parentNode.parentNode.parentNode;

        if (ingredientforms.children.length == 1) {
            alert("You have to have at least one ingredient in your recipe.");
        } else {
            ingredientformtodelete.remove();
        }
    };

    var instructionImageAdded = function (event) {
        alert("You successfully added an instruction image!")

        var element = event.target;
        var label = element.parentNode.children[0];
        label.innerHTML = "Change Instruction Image";
        label.style.backgroundColor = "lightgreen";
    };

    var addInstruction = function () {
        var instructionform = document.getElementById('instructionform');
        var instructionforms = instructionform.parentNode;
        var clone = instructionform.cloneNode(true);

        
        document.getElementById('instructionforms').appendChild(clone);
        
        var instructions = instructionforms.children.length;

        for (var i = 1; i <= instructions; i++) {
            var hello = instructionforms.children[i-1].children[1].children[0].children[1];
            hello.name = "instructionimage" + i;
        }

        $(clone).find('#instruction').val("");
        var imagelabel = $(clone).find('#instructionimagelabel');
        imagelabel.css("background-color", "initial");
        imagelabel.html("Add Instruction Image");
    };

    var deleteInstruction = function () {
            var instructionforms = document.getElementById('instructionforms');
            var instructionformtodelete = event.target.parentNode.parentNode.parentNode;

            if (instructionforms.children.length == 1) {
                alert("You have to have at least one instruction in your recipe.");
            } else {
                instructionformtodelete.remove();

                var instructions = instructionforms.children.length;

                for (var i = 1; i <= instructions; i++) {
                    var instructionimage = instructionforms.children[i - 1].children[1].children[0].children[1];
                    instructionimage.name = "instructionimage" + i;
                }

            }
    };

</script>
{% endblock %}