{% extends 'rapidrecipes/base.html' %}
{% load staticfiles %}
{% block content_block %}
{% load crispy_forms_tags %}

<div class="container-fluid my-5">
    <h2>Add A Recipe</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <div class="mb-3">
                <label for="recipename" class="form-label">Recipe Name</label>
                <input type="text" class="form-control" id="recipename" name="recipename" placeholder="Untitled"
                    required>
            </div>
            <div class="container border border-dark rounded mb-3" id="recipeImageContainer" style="display: none;">
                <img id="recipeimageoutput" class="rounded mx-auto d-block" style="max-width: 100%;" />
            </div>
            <div class="custom-file mb-3">
                <label for="recipeimage" class="custom-file-label">Add Recipe Image</label>
                <input type="file" class="custom-file-input" name="recipeimage" onchange="addRecipeImage(event)">
            </div>
            <div class="mb-3">
                <label for="rating" class="form-label">Rating (between 0 to 5)</label>
                <input type="number" class="form-control" id="rating" name="rating" min="0" max="5" step="0.1"
                    value="0">
            </div>
            <div class="mb-3">
                <label for="difficulty" class="form-label">Difficulty (between 0 to 5)</label>
                <input type="number" class="form-control" id="difficulty" name="difficulty" min="0" max="5" step="0.1"
                    value="0">
            </div>
            <div class="row row-cols-4 mb-3 mx-1">
                {% for category in categories %}
                <div class="form-check col-md-3 my-1">
                    <input class="form-check-input" type="checkbox" value="{{ category }}" id="{{ category }}"
                        name="categories">
                    <label class="form-check-label" for="{{ category }}">
                        {{ category }}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        <div>
            <h3>Add Ingredients to Your Recipe</h3>
            <div id="ingredientforms">
                <div class="ingredientform" id = "ingredientform">
                    <div class="form-row mb-3">
                        <div class="col">
                            <label for="ingredient" class="form-label">Choose Ingredient</label>
                            <select class="form-control" name="ingredient" id="ingredient" required>
                                <option disabled selected value>Select An Ingredient</option>
                                {% for rawFood in rawFoods.all %}
                                <option value="{{ rawFood }}">{{ rawFood }}</option>
                                {% endfor%}
                            </select>
                        </div>
                        <div class="col">
                            <label for="ingredientamount" class="form-label">Ingredient Amount</label>
                            <input type="number" class="form-control" name="ingredientamount" id="ingredientamount" value="0" min="0">
                        </div>
                        <div class="col">
                            <label for="ingredientmeasurement" class="form-label">Measurement</label>
                            <select class="form-control" name="ingredientmeasurement" id="ingredientmeasurement" required>
                                <option disabled selected value>Select A Measurement</option>
                            </select>
                        </div>
                        <div class="col-auto align-self-end">
                            <button class="btn btn-danger" type="button" onclick="deleteIngredient()">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-success btn-block mb-3" onclick="addIngredient()" type="button">
                Add Another Ingredient
            </button>
        </div>
        <div>
            <h3>Add Instructions to Your Recipe</h3>
            <div id="instructionforms">
                <div id="instructionform">
                    <div class="mb-3">
                        <textarea class="form-control" rows="10" placeholder="Add Description Here"
                            name="instruction"></textarea>
                    </div>
                    <div class="form-row mb-3 mx-0">
                        <div class="col custom-file">
                            <label for="instructionimage" class="custom-file-label">Add Instruction Image</label>
                            <input type="file" class="custom-file-input" name="instructionimage"
                                onchange="instructionImageAdded(event)">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-danger" type="button" onclick="deleteInstruction()">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-success btn-block mb-3" onclick="addInstruction()" type="button">
                Add Another Instruction
            </button>
        </div>
        <button class="btn btn-primary mb-5" type="submit">Submit</button>
    </form>
</div>
<script>

    function getRawFoodMeasurementTypes(caller){
            var $ingredientInstance = caller;
            //console.log('text: '+$(this).find(":selected").not(':disabled').text());
            var $ingredient = $ingredientInstance.find('#ingredient');
            var $measurement = $ingredientInstance.find('#ingredientmeasurement');
            //console.log($measurement.text()); // Print out html
            $.ajax({
                type: 'GET',
                url: "{% url 'food:getRawFoodMeasurementTypes' %}",
                data: {"raw-food": $ingredient.find(":selected").not(':disabled').text()},
                success: function (response){

                    $measurement.find('option').not(':disabled').remove();
                    $.each(response, function(key,value){
                        $measurement.append(`<option value="${value}">${value}</option>`);
                    });
                },
                error: function (response){
                    console.log(response);
                }
            });
    };

    $(document).ready(function(){
        $('.ingredientform').on('change',function (){getRawFoodMeasurementTypes($(this));});
    });

    var addRecipeImage = function (event) {
        var imageContainer = document.getElementById('recipeImageContainer');
        imageContainer.style.display = 'block';
        var image = document.getElementById('recipeimageoutput');
        image.src = URL.createObjectURL(event.target.files[0]);
    };

    var addIngredient = function () {
        var ingredientform = document.getElementById('ingredientform');
        var clone = ingredientform.cloneNode(true);
        $(clone).on('change',function (){getRawFoodMeasurementTypes($(this));});
    
        document.getElementById('ingredientforms').appendChild(clone);
        $(clone).find('#ingredient').val("");
        $(clone).find('#ingredientamount').val(0);
    };

    var deleteIngredient = function () {
        var ingredientforms = document.getElementById('ingredientforms');
        var ingredientformtodelete = event.target.parentNode.parentNode.parentNode;

        if (ingredientforms.children.length == 1) {
            alert("You have to have at least one ingredient in your recipe.");
        } else {
            ingredientformtodelete.remove();
        }
    };

    var instructionImageAdded = function (event) {
        alert("You successfully added an instruction image!")
        var label = event.target.parentNode.children[0];
        label.innerHTML = "Change Instruction Image";
        label.style.backgroundColor = "lightgreen";
    };

    var addInstruction = function () {
        var instructionform = document.getElementById('instructionform');
        var clone = instructionform.cloneNode(true);

        document.getElementById('instructionforms').appendChild(clone);
    };

    var deleteInstruction = function () {
            var instructionforms = document.getElementById('instructionforms');
            var instructionformtodelete = event.target.parentNode.parentNode.parentNode;

            if (instructionforms.children.length == 1) {
                alert("You have to have at least one instruction in your recipe.");
            } else {
                instructionformtodelete.remove();
            }
    };

</script>
{% endblock %}

<!--
    <div>
                {{ form.name.errors }}
                {{ form.name | as_crispy_field}}
            </div>
            <div>
                {{ form.imagePath.errors }}
                {{ form.imagePath | as_crispy_field }}
            </div>
            <div class="row">
                <div class="col">
                    {{ form.category.errors }}
                    {{ form.category | as_crispy_field }}
                </div>
                <div class="col">
                    <div>
                        {{ form.rating.errors }}
                        {{ form.rating | as_crispy_field }}
                    </div>
                    <div>
                        {{ form.difficulty.errors }}
                        {{ form.difficulty | as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col">
                <h3>Add Ingredients</h3>
                {{ ingredientformset.management_form }}
                {% for form in ingredientformset %}
                {{ form | crispy }}
                {% endfor %}
            </div>
            <div class="col">
                <h3>Add Instructions</h3>
                {{ instructionformset.management_form }}
                {% for form in instructionformset %}
                {{ form | crispy }}
                {% endfor %}
            </div>
-->


<!--
<div class="row mb-3" style="height: 300px;">
    <div class="col-3 align-self-end">
        <div class="container border border-dark rounded mb-3" id="instructionImageContainer" style="height: 24vh;">
            <img id="instructionimageoutput" class="rounded mx-auto d-block" style="max-height: 100%;" />
        </div>
        <div class="custom-file align-self-end">
            <label for="instructionimage" class="custom-file-label">Add Recipe Image</label>
            <input type="file" class="custom-file-input" name="instructionimage" onchange="addInstructionImage(event)">
        </div>
    </div>
    <div class="col">
        <textarea class="form-control" rows="10" placeholder="Add Description Here" style="height: 30vh;"></textarea>
    </div>
</div>
-->