<!DOCTYPE html>
{% extends 'rapidrecipes/base.html' %}
{% load staticfiles %}
{% block content_block %}

{% if recipes %}
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container-fluid">
                <div class="row">
                    {% for r in recipes %}
                    <div class="col-lg-3 d-lg-block">
                        <div class="card">
                            <img src="{{ MEDIA_URL }}{{ r.imagePath }}" class="card-img-top img-fluid" alt="Recipe Image"/>
                            <div class="card-body">
                                <h5 class="card-title">{{ r.name }}</h5>
                                <p class="card-text">
                                    Description
                                <div id="{{ r.slug }}">
                                    <div class="stars-outer">
                                        <div class="stars-inner"></div>
                                    </div>
                                    </p>
                                    <a href="{% url 'recipes:show_recipe' r.slug %}"class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" style="height:20px;"></div>
                    </div>
              
                    <script>
                        function getRatings() {
                            const starTotal = 5;
                            var my_rating = "{{ r.rating }}";
                            var my_slug = "{{ r.slug }} "
                            const starPercentage = ( my_rating / starTotal) * 100;
                            const starPercentageRounded = `${(Math.round(starPercentage / 10) * 10)}%`;
                            document.querySelector(`#${my_slug} .stars-inner`).style.width = starPercentageRounded;
                        }
                        getRatings();
                    </script>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<ul>
    <li><strong>There are no recipes present.</strong></li>
    <li><a href="https://www.google.co.uk/search?q={{ search }}">Search on google<a /></li>
</ul>
{% endif %}
{% endblock %}