{% extends 'rapidrecipes/base.html' %}
{% block content_block %}

<div class="container-fluid">
    {% if recipe %}
    <h2>{{ recipe.name }}</h2>
    <div class="container-fluid">
        <!--stars-->
        <div id="{{ r.slug }}">
            <div class="stars-outer">
                <div class="stars-inner"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 ">
                <img src="{{ MEDIA_URL }}recipes/{{ recipe.imagePath }}" class="card-img-top" alt="Image" width="30%" />
                <div class="col-xs-12" style="height: 15px"></div>
                <h4>Instructions:</h4>
                <p class="fs-1">
                    {% for instruction in instructions %}
                    <strong>{{ instruction.step }}. </strong>{{ instruction.description }}<br>
                    {% endfor %}
                </p>
            </div>

            <div class="col-md-2">
                <strong>Preparation time: <br></strong>
                30 min <br>
                <br>
                <strong>Difficulty: <br></strong>
                Medium <br>
                <br>
                <strong>Ingredients: <br></strong>
                <div class="list-group">
                    <p>
                        {% for ingredient in ingredients %}
                        &#9642;{{ ingredient.rawFood.name }} - {{ ingredient.amount }} {{ ingredient.measuredIn }}.<br>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="col-md-2 text-center"></div>
            <div class="col-md-4 text-center">
                <h4>Recommended recipes</h4>
                <p class="text-center">Burger</p>
                <img src="{{ MEDIA_URL }}recipes/borgor.jpg" class="card-img-top w-50" alt="Image" />
                <p>Burger</p>
                <img src="{{ MEDIA_URL }}recipes/borgor.jpg" class="card-img-top w-50" alt="Image" />
            </div>
        </div>
    </div>
    <script>
        function getRatings() {
            const starTotal = 5;
            var my_rating = "{{ r.rating }}";
            var my_slug = "{{ r.slug }} "
            const starPercentage = (my_rating / starTotal) * 100;
            const starPercentageRounded = `${(Math.round(starPercentage / 10) * 10)}%`;
            document.querySelector(`#${my_slug} .stars-inner`).style.width = starPercentageRounded;
        }
        getRatings();
    </script>
    {% endif %}
</div>
{% endblock %}